<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}" type="text/css" />

<footer>

    <div class="footer-container py-5">
        <div class="footer-logo">
            <a href="{{ path('app_home') }}">
                <img src={{ asset("assets/images/logo_knowledge.png") }} alt="Logo Knowledge" class="logo">
            </a>
        </div>

        <div class="footer-info">
            <address>
                <p class="footer-title">Qui sommes-nous ?</p>
                <p><strong>Nom de l'entreprise :</strong> Knowledge Learning</p>
                <p><strong>Adresse :</strong> 42 Avenue des Savoirs, Bâtiment C, 69007 Lyon, France</p>
                <p><strong>Téléphone :</strong> +33 4 04 04 04 04</p>
                <p><strong>Email :</strong> contact@knowledge-learning.com</p>
                <p><strong>Support :</strong> Disponible du lundi au vendredi, de 9h à 18h</p>
            </address>
        </div>
    </div>
</footer>