.certification-img{
    border-radius: 50%;
    width: 75px;
}

.li-lesson{
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    
}

.ul-cursus{
    box-shadow: 2px 2px 15px #384050;
    border-radius: 10px;
}

.separation{
    height: 2px;
    background-color: #82b864;
    margin: 10px auto;
    width: 50vw;
}

.theme{
    font-size: 2rem;
}

.curus{
    font-size: 1.5rem;
    margin-left: 3rem !important;
}