{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}


<div class="container my-2">

    <h1>Paiement annulé avec succès.</h1>

    <p>Votre paiement a bien été annulé. Pour toute question ou assistance, n’hésitez pas à nous contacter.</p>
    
</div>
{% endblock %}
